<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu Item -->
    <menuitem id="menu_coach_timesheet_wizard"
              name="My Team Timesheets"
              parent="hr_timesheet.menu_hr_time_tracking"
              groups="iet_coach_timesheet_access.my_team_time_sheet"
              action="action_coach_timesheet_wizard"
              sequence="10"/>
</odoo>